body {
    position: relative;
}

.post {
    width: 50%;
    position: relative;
    margin: 10px auto;
    border: 1px solid gray;
}

.title {
    text-align: center;
    color: black;
    background-color: royalblue;
}